/* ParallaxComponent.module.css */
.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.animation_layer.parallax {
	position: fixed;
}

.sky {
    background-image: url('../assets/images/sky.png');
    background-size: cover;
}

.mountains {
    background-image: url('../assets/images/mountains.png');
    background-size: cover;
}

.trees {
    background-image: url('../assets/images/trees.png');
    background-size: cover;
}

.hills {
    background-image: url('../assets/images/hills.png');
    background-size: cover;
}

.main {
    position: absolute;
    top: 1000px;
}

.parallax-container {
    background-image: url('path/to/image.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .parallax-content {
    transform: translateY(-50%);
  }
  