.my_button {
    display: flex;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 12px;
    margin: 10px;
    transition: background-color 0.3s ease;
    justify-content: center;
    
  }
  
  .my_button:hover {
    background-color: rgb(162, 143, 172);
    border: 2px solid white;
    border-radius: 12px;
    transition: background-color 0.3s ease;
  }
  
  .my_button:active {
    background-color: darkpurple;
  }
  